@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #131417;
    color: white;
}

.controls {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.controls select,
.controls button,
.controls input {
    margin-right: 10px;
    padding: 5px;
}

#array-container {
    display: flex;
    align-items: flex-end;
    height: 400px;
    margin-top: 20px;
}

.bar {
    width: 20px;
    margin: 0 1px;
    background-color: #39d353;
}


.first {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info {
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    width: 60vw;
    background-color: #2a2a2c;
}

#info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#info p {
    font-size: 16px;
    margin-bottom: 10px;
}

#info div {
    font-size: 14px;
}



#algorithm {
    font-size: 14px;
    border-radius: 4px;
    background-color: #f9f9f9;
    margin-right: 10px;
    margin-bottom: 20px;
}


input[type="range"] {

    width: 90%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    margin-top: 10px;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}


#speedValue,
#arrayLengthValue {
    font-size: 16px;
    margin-left: 10px;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.infopage {
    width: 80vw;
    height: 100vh;
}

.info-heading {
    text-align: center;
    font-size: 30px;
}

.info-description,
.info-time {
    display: flex;
    justify-content: space-between;
    height: 40vh;
}

.info-description>div,
.info-time>div {
    width: 48vw;
}

.description-right {
    text-align: end;
}

.desc-cont {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 100%;
}


.ct-chart .ct-label {
    color: white;
}

.ct-series-a .ct-line {
    stroke: white;
}

.ct-series-a .ct-point {
    stroke: white;
}

.ct-chart .ct-grid.ct-horizontal,
.ct-chart .ct-grid.ct-vertical {
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: none;
}